DB_NAME=books_i_read
DB_USER=aakinuliola
DB_PASSWORD=akinuliola567
DB_URL=mongodb+srv://aakinuliola:akinuliola567@cluster0.adr2x62.mongodb.net/?retryWrites=true&w=majority
PORT=4343
SESSION_STORE=books_i_read_session